.header {
    position: fixed;
    z-index: 100;
    background: green;
    width: 100%;                /* Garante que o header ocupe toda a largura */
    max-width: 100vw;            /* Previne overflow além da largura da tela */
    height: 5rem;
    padding: 1rem 3rem; /* Padding para espaçamento lateral e superior */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
  }
  
  .header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    align-items: center; /* Centraliza links e logo verticalmente */
  }
  
  .header ul li {
    margin-right: 4rem;
  }
  
  
  .link {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Krub";
    border-radius: 4px;
    color: black;
  }
 

  .logo {
    margin-right:12rem;
  }

  .logo img {
    width: 5rem;
  }
  

  @media (max-width:620px) {
    .logo {
      margin-right: 15%;
    }
  }
  
 
  