.navBar {
    position: fixed;
    z-index: 100;
    background: #A82B29;     
    height: 5rem;
    padding: 1rem 4rem; /* Padding para espaçamento lateral e superior */
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100vw;
  }
  
  .navBar ul {
    list-style: none;
    padding: 0;
    padding-right: 6rem;
    text-align: right;
    width: 100%;

  }

  .navBar ul li {
    display: inline-block;
    margin: 10px 30px;
  }

  .navBar ul li a{
    color: white;
    text-decoration: none;
  }
 
  .logo{
    width: 180px;
    min-width: 180px;
  }

  .mobileMenu {
    opacity: 0;
    height: 5rem;
    pointer-events: none;
  }

  .logoMobile {
    width: 180px;
    min-width: 180px;
  }

  .mobileMenu button  {
    padding: 16px;
    background: transparent;
    border: 2px solid black;
    border-radius: 100%;
    margin-right: 7rem;
  }

  .mobileMenu button :only-child {
    transform: translateY(-1px) translateX(-1px);
    scale: 1.3;
    padding: 0;
    margin: 0;
  }

  @media (max-width:900px) {
    .mobileMenu {
      opacity: 0;
      pointer-events: none;
      position: fixed;
      z-index: 100;
      background: #A82B29;     
      height: 5rem;
      padding: 1rem 4rem; /* Padding para espaçamento lateral e superior */
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 100vw;
      justify-content: space-between;
    }

    .navBar {
      transition: opacity 0.3s ease;
      opacity: 0;
      pointer-events: none;
    }
    .mobileMenu {
        opacity: 1;
        pointer-events:initial;
      }

      .mobileMenu ul {
        text-decoration: none;
        list-style: none;
      }

    .mobileMenuOn {
      opacity: 1;
      pointer-events: fill;
      position: fixed;
      z-index: 100;
      background: #A82B29;
      height: 20rem;
      padding: 1rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 100vw;
      }

      .buttonOffLista {
          opacity: 0;
          pointer-events: none;
      }

      .buttonOffBtn {
        opacity: 1;
        pointer-events: initial;
      }

      .buttonOnBtn {
        transform: rotate(90deg);
        transition: transform 0.3 ease;
        pointer-events: initial;
        padding: 16px;
        background: transparent;
        border: 2px solid black;
        border-radius: 100%;
        margin-right: 7rem;
        }

        .mobileMenuOn ul {
          list-style: none;
          transform: translateX(-100%);
        }

        .mobileMenuOn ul li {
          padding-top: 1.5rem;
          padding-bottom: 0.5rem;
        }

        .mobileMenuOn ul li a {
          color: white;
        }

        .buttonOffBtn :only-child{
        transform: translateY(-1px) translateX(-1px);
        scale: 1.3;
        padding: 0;
        margin: 0;
        }

        .buttonOnBtn :only-child{
          transform: translateY(-1px) translateX(-1px);
          scale: 1.3;
          padding: 0;
          margin: 0;
          }

          button :hover {
            cursor: pointer;
          }
          
        .logoMobile {
          width: 180px;
          transform: translateX(-25%);
          padding: 1rem;
        }
    }
  

  
 
  