.secHero {
    position:relative;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    background-color: grey;
    margin-bottom: 6rem;
    border: 2px solid yellow;
}

.secHero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    max-width: 100%;
    max-height: 100%; 
    object-fit:fill; 
    z-index: -1; 
    margin-left: 2.5%;
    padding: 0;
}

/* Título do Hero */
.secHero h1 {
    width: 95%;
    margin-left: 2.5%;
    margin: 2rem 0;
    color: white; /* Texto branco */
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    z-index: 1; /* Garante que o texto fique acima da imagem */
    text-shadow: 2px 2px 4px black, -2px -2px 4px black; /* Borda preta ao redor do texto */

}

/* Parágrafos do Hero */
.secHero p {
    font-family: 'Krub', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

/* Botão do Hero */
.secHero a {
    font-size: 2rem;
    font-family: 'Krub', sans-serif;
    padding: 1rem 1.5rem;
    background: #eee;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0rem auto;
    margin-top: 2rem;
    transition: 0.3s;
}

.secHero a:hover {
    background: #aaa;
    color: white;
}
@media (max-width: 768px) {
    .secHero {
        flex-direction: column;
        height: auto;
        max-width: 100vw;
        width: 98%;
        box-sizing: border-box;
    }


    .secHero img {
        padding-top: 10%;
        max-width: 92%;
        padding-left: 2%;
    }

    .secHero h1 {
        padding-top: 20rem;
        font-size: 2.5rem;
    }

    .secHero a {
        font-size: 1.5rem;
    }
}

/* Responsividade para Dispositivos Pequenos */
@media (max-width: 480px) {
    .secHero {
        max-width: auto;
    }

    .secHero h1 {
        font-size: 2rem;
    }

    .secHero a {
        padding: 0.1rem 0.8rem;
        margin-bottom: 2rem;
    }
}