.mapa {
    height: auto; /* Deixe o navegador calcular a altura de acordo com a proporção da largura */
    max-width: 95vw; /* Máxima largura: 95% da largura da janela */
    width: 90%; /* O mapa ocupa 90% da largura do elemento pai */
    display: inline-block; 
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    margin: 2rem 5%; /* Centraliza o mapa horizontalmente e ajusta o espaçamento */
    border: 2px solid black;
}


h1 {
    margin: 2rem 5%;
    font-size: 1.2rem;
    display: inline-block;
}


@media (max-width:700px) {
    .mapa {
        width: 90%;
        max-width: 87vw;
        margin: 1.5rem 1.5rem;
    }

    h1 {
        width: 90%;
        max-width: 87vw;
        margin: 1.5rem 1.5rem;
    }
}