.notfound {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 7rem;
    margin: 1rem 2rem
}

.notfound img {
    height: 25rem;
    border: 2px solid #eee;
    padding: .2rem;
}