.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 7rem;
    padding: 2rem;
    margin: 10%;
    background: #eee;
    border-radius: 20px;
    align-items: center;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
    justify-items: center;
}

.sobre img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    max-width: 400px; /* Define um tamanho máximo para a imagem */
}

.sobre p {
    font-size: 1.6rem;
    text-align: justify;
}

@media (max-width: 900px){
    
    .sobre {
        grid-template-columns: 1fr; 
        margin: 2rem 1rem;
    }

    .sobre p {
        font-size: 1.2rem;
        max-width: 60%;
    }
}