.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 7rem;
    padding: 2rem;
    margin: 10%;
    background: #eee;
    border-radius: 20px;
    align-items: center;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px){
    .sobre {
        grid-template-columns: 1fr; 
    }
}