.foto{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 7rem;
    padding: 1rem;
}

button {
    all: unset;
    cursor: pointer; /* opcional: adiciona o ponteiro de mão ao passar o mouse */
  }
  
.inativas {
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
    border: 1px solid black;
}

.destaque {
    width: 20rem;
    height: 18rem;
    margin-bottom: 2rem;
}
