/* Layout principal */
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 colunas no layout maior */
    gap: 20px; /* Espaçamento entre os itens */
    border: 1px solid red;
    padding: 10px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    text-align: center;
}

/* Estilizando o elemento pai */
.elementoPai {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Estilizando o card */
.card {
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* Layout responsivo */
@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    }
}

@media (max-width: 620px) {
    .wrapper {
        grid-template-columns: 1fr; /* 1 coluna em telas menores */
    }

    .card {
        max-width: 100%;
        margin-bottom: 10px;
    }
}
